{
    "extends": "eslint:recommended",
    "env": { "es6": true },
    "rules": {
        "no-extra-boolean-cast": "off"
    },
    "globals": {
        "global": false,
        "require": false,
        "module": false,

        "before": false,
        "describe": false,
        "beforeEach": false,
        "it": false,

        "runQuokkaMochaBdd": false,

        "approvals": false,
        "verify": false
    }
}